{% block content %}{% set direct_link = h.check_direct_link() %}{% if direct_link == '0' %}
        <div>
            {% set results = h.sparqlQuery('') -%}
            <!-- {{ h.literal("{}".format(results))}} -->
            <table class="table table-bordered sparql_table">
            <caption>SPARQL Results</caption>
            <thead>
              <tr>
              <th style="width:3em;">#</th>
              {% for result in results["head"]["vars"] -%}
                <th>{{ result }}</th>
              {% endfor -%}
              </tr>
            </thead>
            <tbody>
            {%- set counter = 1 %}
            {%- for result in results["results"]["bindings"] %}
            {%- set rowloop = loop %}
              <tr>
              <td>{{ loop.index }}</td>
              {% set ns = namespace(index = 0) -%}
              {% for attributes, values in result.items() -%}
                {% if attributes == results["head"]["vars"][ns.index] -%}
                	{% set urlschema = h.check_is_url(values.value) -%}
                    {% if  urlschema == "http" or urlschema == "https" -%}
                    	<td><a href="" onClick="view_resource('{{ values.value }}'); return false;">{{ values.value }}</a></td>
                    {%- else -%}
                    	<td>{{ values.value }}</td>
                    {%- endif %}
                {%- else -%}
                    <td></td>
                	{% set ns.index = (ns.index + 1) -%}
                	{%- set ns.flag = 0 -%}
                	{%- set ns.temp_counter = 0 -%}
                	{% for listheaders in results["head"]["vars"] -%}
                		{%- if listheaders == attributes -%}
                			{%- set urlschema = h.check_is_url(values.value) -%}
                    		{%- if  urlschema == "http" or urlschema == "https" -%}
                    			<td><a href="" onClick="view_resource('{{ values.value }}'); return false;">{{ values.value }}</a></td>
                    		{%- else -%}
                    			<td>{{ values.value }}</td>
                    		{%- endif -%}
                			{%- set ns.index = (ns.index + 1) -%}
                			{%- set ns.flag = (ns.flag + 1) -%}
                		{%- elif ns.temp_counter >= ns.index and ns.flag == 0 -%}
                		 	<td></td>
                			{%- set ns.index = (ns.index + 1) -%}
                		{%- endif -%}
                	{%- set ns.temp_counter = (ns.temp_counter + 1) -%}
                	{%- endfor -%}
                {%- endif %}
              {% set ns.index = (ns.index + 1) -%}
              {% endfor -%}
              </tr>
            {% endfor -%}
            </tbody>
            </table>
        </div>
{% elif direct_link == '1' %}{% set results_python_data_structure = h.sparqlQuery('') %}{{ results_python_data_structure | safe }}{% else %}{{ direct_link }}{% endif %}{% endblock %}